$oq: #fff
$qora: #000
$moviy: cyan
$kuk: #0008FF

@mixin oqFon ($bgColor, $colorText)
	background-color: $bgColor
	color: $colorText

@mixin qoraFon
	background-color: $qora
	color: $oq

*
	padding: 0
	margin: 0

body
	font-size: 16px
	@include oqFon(black, white)
//	@include oqFon($qora, $oq)

h1
	background-color: $moviy
	color: $oq
	> sup
		color: $kuk
		font-size: 15px
//	+ sup
//		color: $oq
//		font-size: 40px

.desc
	> p
		color: red
		> b
			font-size: 20px
			> i
				color: $qora
